<h1 class="mood-header">Check in</h1>


<%= render 'shared/optionswipe' %>

<p class="mood-info">How are you feeling?</p>

<br>


<div id="mslider">
  <div class="slider-mood">
  </div>
</div>

<%= simple_form_for(@mood) do |f| %>
<%= select_tag :feeling, options_for_select(Mood::FEELING), multiple: true %>
<div class="mood-date">
<span class="mood-field"><%= date_select("day", "date") %></span>
<%= f.submit 'Done', class: "btn btn-primary btn-sm btn-mood"%>
</div>
<% end %>




<%= javascript_pack_tag 'slider_mood' %>
<%= stylesheet_pack_tag 'slider_mood' %>


