<%= simple_form_for(@mood) do |f| %>
<%= select_tag :feeling, options_for_select(Mood::FEELING), multiple: true%>
<%= date_select("day", "date") %>
<%= f.submit 'Done' %>
<% end %>
<h1 class="mood-header">Check in</h1>


<%= render 'shared/optionswipe' %>

<p class="mood-info">How are you feeling?</p>

<div id="mslider">
  <div class="slider-mood">
  </div>
</div>



<div class="cal-swipe">
  <%= week_calendar number_of_weeks: 1 do |date| %>
  <%= date.day %>
  <% end %>
</div>

<%= javascript_pack_tag 'slider_mood' %>
<%= stylesheet_pack_tag 'slider_mood' %>


