<div class="our-navbar">
  <%= link_to root_path do  %>
    <i class="fas fa-home" id="home"></i>
  <% end %>
  <%= link_to days_path do  %>
    <i class="far fa-calendar-alt"></i>
  <% end %>
  <%= link_to new_mood_path do  %>
    <!-- <i class="fas fa-plus" id="plus"></i> -->
    <!-- <i class="far fa-plus-square" id="plus"></i> -->
    <i class="fas fa-plus-circle" id="plus"></i>
  <% end %>
  <%= link_to journals_path do  %>
  <i class="far fa-edit"></i>
  <% end %>
  <%= link_to mood_stats_path do  %>
    <i class="far fa-chart-bar"></i>
  <% end %>
</div>

