<div class="show-box">
  <% if day.nil? %>
  <span class="show-info">

     <span> <i class="fas fa-spinner"></i> No information entered for this day</span></span>

  <% else %>

  <div class="d-flex flex-row-reverse box-date"><%= day.date.strftime("%A, %b %d") %>

  </div>
  <% day.all_events_today.each do |event| %>
  <div class="d-flex justify-content-start align-items-center">
    <% if event.is_a?(Mood) %>
    <span> <div class="mood-event"> </div></span>
    <span class="show-info">
      <span id="mood-name"><%= event.class %></span>
      <span id="mood-info"> <%= event.feeling %></span></span>
      <% @moods.each do |mood| %>
 <%= link_to "Delete", mood_path(mood),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-outline-info" %>

              <% end %>

      <% elsif event.is_a?(Exercise) %>
      <span><div class="exercise-event"></div></span>
      <span class="show-info">
       <span id="ex-name"> <%= event.class %></span>
       <span id="ex-info"> <%= event.time %> minutes</span></span>

       <% elsif event.is_a?(Pain) %>
       <span><div class="pain-event"></div></span>
       <span class="show-info">
        <span id="pain-name"><%= event.class %></span>
        <span id="pain-info"> <%= event.symptom %></span></span>

        <% elsif event.is_a?(Sleep) %>
        <span><div class="sleep-event"></div></span>
        <span class="show-info">
          <span id="sleep-name"><%= event.class %></span>
          <span id="sleep-info"> <%= event.hours %> hours</span></span>
          <% end %>
        </div>
        <% end %>
<% end %>



            </div>

</div>

