
<div class="home-page">

<%= link_to  destroy_user_session_path, method: :delete, class: "sign-out" do  %>
  <i class="fas fa-key"></i>
  <% end %>

<div class="container-home">
  <h1><%= @greeting %> <%=current_user.first_name %></h1>
</div>


<%= link_to 'Check in Today',  new_mood_path, class: "get-started" %>


<div class="background-image" style="background-image: url('<%= image_path 'modern.svg' %>');">


<%#= link_to 'Track your feelings',  new_mood_path, class: "but-home" %>
<%#= link_to 'Write a journal entry',  new_journal_path, class: "but-home" %>

</div>
</div>



