<h1 class="mood-header">Check in</h1>


<%= render 'shared/optionswipe' %>

<p class="mood-info">How many hours have you slept?</p>

<div id="sslider">
  <div class="slider-sleep"></div>
</div>

  <%= simple_form_for(@sleep) do |f| %>
    <%= f.input :hours, collection: Sleep::HOURS %>
    <div class="sleep-date">
      <span class="sleep-field"> <%= date_select("day", "date") %></span>
      <%= calendar(number_of_days: 5, attribute: :s_day) do |date| %>
        <% day = Day.find_by(date: date.to_datetime, user_id: current_user) %>
      <% day_link  =  day.nil? ? "#" : days_path(day: day.id)   %>
      <%= link_to day_link, remote: true, class: "day-link" do  %>
        <%= date.day %>
      <% end %>
  <% end %>

    <%= f.submit 'Add', class: "btn btn-sm btn-info btn-sleep btn-block" %>
  </div>
  <% end %>


  <%= javascript_pack_tag 'slider_sleep' %>
  <%= stylesheet_pack_tag 'slider_sleep' %>


<%= javascript_pack_tag 'calendar_swipe' %>
