<h1 class="mood-header">Check in</h1>


<%= render 'shared/optionswipe' %>

<p class="mood-info">How many hours have you slept?</p>

  <%= simple_form_for(@sleep) do |f| %>
    <%= f.input :hours, collection: Sleep::HOURS %>
    <%= date_select("day", "date") %>
    <%= f.submit %>
  <% end %>


<div id="sslider">
  <div class="slider-sleep"></div>
</div>


  <%= javascript_pack_tag 'calendar_swipe' %>

  <%= javascript_pack_tag 'slider_sleep' %>
  <%= stylesheet_pack_tag 'slider_sleep' %>
