<h1 class="mood-header">Check in</h1>


<%= render 'shared/optionswipe' %>

<p class="mood-info">How many hours have you slept?</p>

<div id="sslider">
  <div class="slider-sleep"></div>
</div>

  <%= simple_form_for(@sleep) do |f| %>
    <%= f.input :hours, collection: Sleep::HOURS %>
    <div class="sleep-date">
      <span class="sleep-field"> <%= date_select("day", "date") %></span>

    <%= f.submit 'Done', class: "btn btn-sm btn-info btn-sleep" %>
  </div>
  <% end %>


  <%= javascript_pack_tag 'slider_sleep' %>
  <%= stylesheet_pack_tag 'slider_sleep' %>
