<body class="journal-back">


<h3 class="journal-header">Journal</h3>
  <div class="journal-icons">
     <%= link_to new_journal_path do  %>
    <div class="text-entry">
      <p>T</p>
  </div>
  <% end %>
    <div class="video-entry">
      <p><i class="fas fa-video"></i></p>
    </div>
</div>




<div class="journal-border">
    <%@journals.each do |journal| %>
    <%= link_to journal_path(journal), class:"journal-show" do %>

  <div class="text-entry-2">
      <p class="text-icon">T</p>
  </div>
 <!--  <div class="d-flex bd-highlight mb-3"> -->
  <div class="journal-info">

          <p class="card-date"> <%= journal.created_at.strftime("%A, %B %eth, %Y") %></p>
        <h4 ><%= journal.title.first(12) %></h4>
        <p ><%= journal.text.truncate_words(6) %></p>
   </div>

   <i class='fas fa-chevron-right show-fas'></i>

   <!-- </div> -->
  <% end %>
      <% end %>
      </div>



</body>




