<body class="journal-back">


<h3 class="journal-header">Journal</h3>


  <!-- <div class="journal-icons"> -->
    <h5 class="inout-method">Choose your input method:</h5>
    <div class="d-flex justify-content-around">
     <%= link_to new_journal_path do  %>
      <p class="btn btn-danger text-button">Add Text</p>

  <% end %>
   <%= link_to new_video_journals_path do  %>

      <p class="btn btn-danger video-button">Record Video</p>

    <% end %>
    </div>
<!-- </div> -->




<div class="journal-border">
    <%@journals.each do |journal| %>
    <%= link_to journal_path(journal), class:"journal-show" do %>

  <% if journal.text %>
    <%= render 'new_text', journal: journal %>
    <% else %>
    <%= render 'new_video', journal: journal %>
    <% end %>


   <!-- </div> -->
  <% end %>
      <% end %>
      </div>



</body>







