<h1 class="mood-header">Check in</h1>


<%= render 'shared/optionswipe' %>

<p class="mood-info">Are you feeling any pain today?</p>

  <%= simple_form_for(@pain) do |f| %>
    <%= select_tag :symptom, options_for_select(Pain::SYMPTOMS), multiple: true, class: "form-control search-bar" %>
    <%= date_select("day", "date") %>
    <%= f.submit %>

  <% end %>
