<h1 class="mood-header">Check in</h1>

<%= render 'shared/optionswipe' %>

<p class="mood-info">How long did you workout for?</p>


<div id="eslider">
  <div class="slider-exercise"></div>
</div>

  <%= simple_form_for(@exercise) do |f| %>
  <%= f.input :time, collection: Exercise::TIME, input_html: { class: 'd-none'}, label_html: {class: 'd-none'} %>
  <div class="exercise-date">
    <span class="exercise-field"><%= date_select("day", "date") %></span>
    <%= f.submit 'Done', class: "btn btn-warning btn-sm btn-exercise"%>
</div>
  <% end %>

<%= javascript_pack_tag 'slider_exercise' %>
<%= stylesheet_pack_tag 'slider_exercise' %>
