<h3 class="stat-ex-header">Your weekly Exercise Recap</h3>

<canvas id="myChart-exercise" width="400" height="400" data-times="<%= @times.to_json %>" data-days="<%= @day_names.to_json %>"></canvas>


<%= javascript_pack_tag 'exercise_chartjs' %>


<div class="stats-bar justify-content-around">
  <%= link_to "Mood", mood_stats_path, class: 'btn btn-outline-primary' %>
  <%= link_to "Pain", pain_stats_path, class: 'btn btn-outline-danger' %>
  <%= link_to "Exercise", exercise_stats_path, class: 'btn btn-outline-warning' %>
</div>
