<h3 class="mood-stat">Monthly Mood Recap</h3>

<%= render 'shared/statswipe' %>

<div class="hold-canvas">

<canvas id="myChart" height="400"
  data-final-moods="<%= @final_moods.to_json %>"></canvas>
</div>
<%= javascript_pack_tag 'chartjs' %>


    <p class="mood-stat-header">Your monthly moments...</p>
<div class="mood-legend">
      <div class="row">
<% @order_moods.each do |mood_array| %>

        <div class="col-6">
           <!-- <div class="mood-3"> -->

            <p><i class="fas fa-square <%= mood_array[0] %>"></i>
              <%= mood_array[0] %>: <%= mood_array[1] %>x </p>
            <!-- </div> -->
        </div>

    <% end %>
      </div>

  </div>


