<h3 class="mood-stat">Monthly Pain Recap</h3>

<div class="hold-canvas">

<canvas id="myChart-pain" height="400" data-pains='<%= @pains %>'
  data-final-pains="<%= @final_pains.to_json %>"></canvas>
</div>
<%= javascript_pack_tag 'pain_chartjs' %>

<p class="mood-stat-header">Your monthly moments...</p>

<div class="mood-legend">
  <div class="row">

<% @order_pains.each do |pain_array| %>
<div class="col-6">
    <p><i class="fas fa-square <%= pain_array[0] %>"></i>
      <%= pain_array[0] %>: <%= pain_array[1] %>x </p>
</div>
  <% end %>
  </div>
</div>

<div class="stats-bar justify-content-around">
  <%= link_to "Mood", mood_stats_path, class: 'btn btn-outline-primary' %>
  <%= link_to "Pain", pain_stats_path, class: 'btn btn-outline-danger' %>
  <%= link_to "Exercise", exercise_stats_path, class: 'btn btn-outline-warning' %>
</div>
